.panel-default>.panel-heading {
    background-color: #FFF !important;
    background-image: none !important;
    margin-top: 10px !important;
    padding-bottom: 10px !important;
}

.panel-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.restaurant_comments_button {
    text-decoration: none !important;
    border: 0 !important;
    background: #a50000 !important;
    color: #FFF !important;
    padding: 15px !important;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .restaurant_info {
        text-align: center !important;
    }

}


.restaurant_info {
    text-align: left;
}

.restaurant_card_h3 {
    margin-top: 0 !important;
}