body {
    background-color: #fac8bf;
}

.site_container {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-bottom: 35px;
    box-shadow: 1px 1px 10px 0px #888888;
    min-height: 100% !important;
}